
    .services{
      background-color: white;
    }

    .contakts{
       background-color: white;

    }

    .lined-caption{
      display: flex;
    }

    .lined-caption>hr{
      border: 1px solid grey;
      width: 100%;      
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: auto;
      margin-top: auto;
    }

    .lined-caption>div{
      margin:auto; 
      white-space: nowrap;
    }

    .contakts article{

    }

   .contakts .text1{
      text-indent: 2rem;
      text-align: justify;
      margin-top: 0;
    }

    ul.types{
      text-align: justify;
      padding-left: 33%;
      margin-top: 0.5rem;
    }

  @media only screen and (max-width: 756px) {
    .viber_desctop{display: none;}
    .viber_mobile{display: block;}
  }

  
  @media only screen and (min-width: 756px) {
    .viber_desctop{display: block;}
    .viber_mobile{display: none;}
  }

