 * {
        box-sizing: border-box;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    [class*="col-"] {
      float: left;
      /*padding: 5px; 
      border: 1px solid red*/
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    @font-face {
      font-family: mistral;
      src: url(/css/mistral.ttf);
    }

    main{
    	margin-top: 1rem;
    }

    nav p, .nav-link, .tile_caption{
      font-family: mistral;
      font-size: large;
    }

    .main_logo>div>img{
    	height:120px;
    }
    .main_logo>div{
    	flex-grow: 1;
    }

    .main_logo{
    	padding-left: 5%;
		display: flex;
        background-image: linear-gradient(to right, rgba(62,184,254,0.6) 10%, rgba(252,237,182,0.9) 50%);
    }
    .topnav{


    }

article{
	text-align: center;
}

.tile_caption{
	background-image: linear-gradient(to bottom, rgba(252,237,182,0.3), rgba(252,237,182,1));
	text-align: center;
	padding: 0.75rem;
}

.tile_img>img{
	position: relative;
	width: 100%;
}