.navbar {
    background-color: #e5f3f2;
}

.navbar  div.dropdown-menu{
    background-color: #ffffff;
}

.carousel-control-next-icon {
    color: #1d2124;
    font-size: xx-large;
}

.carousel-control-prev-icon {
    color: #1d2124;
    font-size: xx-large;
}

/*ереопределил позицию надписи*/
.carousel-caption-top {
    position: fixed;
    right: 0%;
    left: 0%;
    z-index: 1030;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4rem;
    color: #1e7e34;
    text-align: -webkit-left;
}

