.navbar {
    background-color: #e5f3f2;
}

.navbar  div.dropdown-menu{
    background-color: #ffffff;
}


/*ереопределил позицию надписи*/
.carousel-caption-top {
    position: fixed;
    right: 0%;
    left: 0%;
    z-index: 1030;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4rem;
    color: #fff;
    text-align: -webkit-left;
}

