.sr_image>a>img{
    max-height: 400px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sr{
    background-color: #160021;
    padding: 2rem;
    border-color: #85a99273;
    border-width: 1px;
    border-style: solid;
}

.sr_caption{
    background-color: #fff5d4;
    text-align: center;
    padding: 0.75rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 16px;
}

