.seria{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;


}

.seria>div{
    background-color: aliceblue;
    height: 30rem;
}

.img_part{
    height: 55%;
    display: flex;
    justify-content: center;
}

.img_part>a>img{
    height: 250px;
    width: auto;
    margin-top: 0.5rem;

}

.text_part{
    height: 45%;
    padding-top: 0.5rem;
    overflow: auto;
}
.text_part>p{
    margin-left: 2rem;
}
