.seria{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;


}

.seria>div{

}

.img_part{
    /*display: flex;*/
    /*justify-content: center;*/
}

.img_part>a>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text_part{
    padding-top: 0.5rem;
    overflow: auto;
    display: none;
}
.text_part>p{
    margin-left: 2rem;
}
