
.topnav{
    background-image: linear-gradient(to left, rgba(252,237,182,1), rgba(252,237,182,0));
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding-top: 64px;
    flex-wrap: wrap;
    /*position: absolute;
    top: 100%;
    margin-top: -1.3rem;*/
}


.topnav>a {
    min-width: 110px;
    padding-left: 0.2rem;
    text-decoration: none;
    margin: auto;

}

.topnav p {
    margin: auto;

}


#top_mail{
    display: inline;
    position: fixed;
    top: 68px;
    padding:1rem;
}




/*убрать паддинг в главном меню*/
@media only screen and (max-width: 1533px) {
   .topnav{
        padding-top: 0;
    }
}


/*убрать разделители меню*/
@media only screen and (max-width: 368px) {
   .topnav p{
        display: none;
    }
}


