.topnav{
    display: flow-root;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 0.2rem;
}

.topnav *{
    display: inline-block;
    box-sizing: border-box;
}

.topnav>a {
    min-width: 110px;
    padding-left: 0.2rem;
    text-decoration: none;
}


@media only screen and (max-width: 384px) {
    .topnav {
        flex-direction: column;
        align-content: center;
    }
    .topnav>img{ display: none}

    .topnav>.nav_right_group{
        position: initial;
    }
}

@media only screen and (min-width: 385px) {
    .topnav {
        flex-direction: row;
        align-content: space-between;
    }

    .topnav>img{ display: block}

    .topnav>.nav_right_group{
        position: absolute;
        right: 2rem;
    }
}